__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/
env/

.env
.env.*
!.env.example
app/.env
app/.env.*
!app/.env.example

.idea/
.vscode/
.python-version

.pytest_cache/
.coverage
.coverage.*
htmlcov/

build/
dist/
*.egg-info/
